@import "common.css";

/* Personal Board */

body > main { width: 1050px; margin: 0 auto; z-index: 0;}
body > div.Main-Indent {height: 190px;}

body > header { position: fixed; width: 100%; border: 0px red dashed; z-index: 10;  background: url(../img/black_denim.png) repeat #000;}
.approved {border-bottom: 1px solid #7bc251 !important;}
.stacked {border-bottom: 1px solid #6d5698 !important;}
.timeline {border-bottom: 1px solid #808080 !important;}
.review {border-bottom: 1px solid #5d96d3 !important;}


section.Dashboard {height: 130px; width: 1050px; margin: 0 auto; z-index: 12; color: #ffffff; font-weight: 300; border: 0px red dashed; position: relative;}


section.UserInfo { border: 0px red dashed; position: relative; margin: 20px 0 0 0; text-align: center; }
section.UserInfo > div { display: inline; color: #7d7d7d; font-size: 14px; margin: 0 15px 0 0;}
section.UserInfo > div.UserName { font-size: 36px; width: auto; display: block; color: #ffffff;}
section.UserInfo > div > span.Sum {color: white; font-size:18px;}


section.Dashboard > a.bt-ToTheMain { display: block; width: 40px; height: 40px; position: absolute; z-index: 10; top: 5px; background: url(../img/bt_to_the_main.png) no-repeat;}

section.Dashboard > a.bt-LogIn-sml { display: block; width: 40px; height: 40px; position: absolute; z-index: 10; left: 1010px; top: 10px;  background: url(../img/bt_login_sml.png) no-repeat;}

section.Dashboard > a.bt-LogOut-sml { display: block; width: 40px; height: 40px; position: absolute; z-index: 10; left: 1010px; top: 10px;  background: url(../img/bt_logout_sml.png) no-repeat;}


nav { border: 0px red dashed; height: 51px; width: 822px; /*width: 669px;*/ top: 35px; position: relative;  margin: 0 auto 0;}
nav.noAuth {width: 456px; /*width: 305px;*/ border: 0px red dashed;}



nav > div.Button { width: 150px; height: 50px; float: left; border: 1px solid #282828;  text-align: center;
    vertical-align: middle; line-height: 270%; background: #000000; color: #ffffff; font-weight: 300; 
    font-size: 18px; font-family: 'Open Sans', sans-serif; text-transform:  capitalize;}

nav > div.Button a { color: #646464; text-decoration: none; display: block; width: 100%; height: 50px; }
nav > div.Button:hover {background: #0f0f0f;}
nav > div.Button a:hover {color: #c0c0c0;}

nav > div.Button.here { background: #232323; border: 1px solid #4a4a4a; border-bottom: none;}

nav > div.Button-VideoInput { width: 212px; height: 50px; float: left; border: 0px solid #282828;  text-align: center;
    vertical-align: middle; line-height: 270%; background: #000000; color: #ffffff; margin: 0;}

nav > div.Button-VideoInput input.code {
    width:160px; height:52px; padding:10px; overflow: hidden; float:left;  background: #080808;
    color: #ffffff; font-size: 11px; font-family: 'Open Sans', sans-serif; text-transform:  capitalize; 
    line-height: 270%; font-weight: 300; font-style: normal; border: 1px solid #282828;}
nav > div.Button-VideoInput input.SendVideo { width:52px; height:52px; background: url(../img/bt_send_video_o_52.png) no-repeat; 
    cursor: pointer; margin:0 0 0 0px; float:left; border: none;}
nav > div.Button-VideoInput input.SendVideo:hover {background: url(../img/bt_send_video_i_52.png) no-repeat; }

nav > div.Button-VideoInput input.code:focus {
    -webkit-animation: input_bg_dark; /* Chrome, Safari, Opera */
    animation: input_bg_dark;
    -ms-transition: all .250s ease;
    -webkit-transition: all .250s ease;
    transition: all .250s ease;
    background: #1d1d1d;
    border: 1px solid #4a4a4a;
    border-bottom: #65CCA2 1px solid;
}


/*------- Main Content ------*/

main > #waterfall-message > div.NoResultBlock {color: #999999; font-weight: 300;}
main > #waterfall-message > div.NoResultBlock div.NoResultClean {margin: 60px auto; width: 202px; border: 0px #fff dashed;}



/*------- Main Content - >  Info Output ------*/

div.item { padding:5px; border: 0px solid #353535; background: #27292a; width:330px; color:rgba(255, 255, 255, .5);}

div.item:hover {background: #313435; color:rgba(255, 255, 255, 1);}

div.item a { color:rgba(255, 255, 255, .5); text-decoration:none; border: none;}


div.item.here { border: 1px solid #6387cb; padding: 4px;}  /* #e6a251 */

.wf-info { position:absolute; background-color:rgba(50, 50, 50, 0.5); border:1px #666666 solid; padding:5px 5px 0px; margin:0; overflow:hidden; font-size:12px; line-height:120%; width:318px;}

.wf-info, .wf-title, .wf-desc { color:inherit;}
.wf-info:hover, .wf-title:hover, .wf-desc:hover, .item:hover a { color:inherit;}

.wf-title a:hover { color: rgba(200, 222, 241, 1);}

div.min-icons { display:block; position:absolute; width: auto; border:0px #666666 solid; top:152px; left: 12px; }
img.min-icon { display:block; width:32px; height:32px; position: relative; float:right; margin:0 4px 0 0px; }

div.wf-rating { display:block; position: absolute;  font-size:11px; height:24px; width:35px; margin:0 0 0 5px; 
    background-color:#252627; border:1px #666666 solid; top:158px; left: 285px; vertical-align: bottom !important; 
    text-align:center; line-height:110%; letter-spacing:.2px; color:#666}

div.item.here div.min-icons { top:151px; left: 11px;}
div.item.here div.wf-rating { top:157px; left: 284px;}

div.RateText { margin:6px 0 0 0;}

div.wf-rating div.RateText:first-letter { font-size:14px; letter-spacing:.1px !important; color: #999;}

span.sup {vertical-align: super; font-size:9px; color: #999;}

div.item.board { border: 0px red dashed; width: 720px; margin: 0 auto 20px; position: relative !important; left: 0 !important; top: 0 !important;}

/*------- **** ------*/




/* Animation ---- input_bg ------ Chrome, Safari, Opera */
@-webkit-keyframes input_bg_dark {
    0% {
        background: #080808;
        border: 1px solid #282828;

    }
    100% {
        background: #1D1D1D;
        border: 1px solid #4a4a4a;
        border-bottom: #65CCA2 1px solid;
    }
}

/* Standard syntax */
@keyframes input_bg_dark {
    0% {
        background: #080808;
        border: 1px solid #282828;

    }
    100% {
        background: #1D1D1D;
        border: 1px solid #4a4a4a;
        border-bottom: #65CCA2 1px solid;
    }
}


/* Overwrite input placeholder look */

::-webkit-input-placeholder { /* WebKit browsers */
    color: #666;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #666;
    opacity:  1;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #666;
    opacity:  1;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #666;
    font-style: italic;
}