/* Output Visual Info Block */
div#NoResultBlock {
    display: none;
}
main > div#main-output h1 {
    display: block;

    width: 90%;
    margin: 0 0 15px 25px;

    border: 0 red dashed;

    font-size: 16px;
    font-weight: 300;
}
main > div#main-output h1 span.title-prepend {
    color: #aaa;

    font-size: 12px;
}
main > div#main-output h1 span.title-only {
    color: #f78b22;

    font-size: 12px;
}
main > div#main-output h1 span.Tags {
    text-transform: capitalize;
}
h1.state-info {
    position: relative;

    line-height: 215%;
}
h1.state-info img {
    display: inline;

    margin: 0 0 -10px 0;
}
div.NoResultBlock {
    color: #999;

    font-weight: 300;
}
div.NoResultBlock div.NoResultMsg {
    width: 309px;
    height: 143px;
    margin: 60px auto 0;

    border: 0 red dashed;
    background: url(/desktop/img/no-result-bender.jpg) no-repeat;
}
div.NoResultBlock div.NoResultAdvice {
    width: 309px;
    margin: 60px auto 0;
}
div.NoResultBlock div.NoResultMsg span {
    display: block;
    float: right;

    margin-top: 28px;

    font-size: 17px;
}
div.NoResultBlock div.NoResultMsg a {
    display: block;
    float: right;
    clear: both;

    margin-top: 14px;

    text-decoration: none;

    color: #999;
    border-bottom: 1px #999 dashed;

    font-size: 33px;
}
div.NoResultBlock div.NoResultMsg a:hover {
    position: relative;

    color: #fff;
    border-bottom: 1px #fff dashed;
}
div.NoResultBlock div.NoResultMsg a.StartOver {
    margin-top: 28px;

    font-size: 21px;
}
div.NoResultBlock div.NoResultClean {
    width: 202px;
    margin: 60px auto;

    border: 0 #fff dashed;
}
