
body {
    background: url(../img/black_denim_100.png) repeat #000 fixed;
    color: white;
    font-family: 'Open Sans', sans-serif;
    overflow: auto !important;
}

html, body {
    /*
    max-width: 100%;
    overflow-x: hidden;
    */
}

main {
    display: block;
}

tr td {
    vertical-align: top;
}

textarea, input, select, ul#singleFieldTags {
    background: #27292a;
    border: 1px solid #353535;
    color: #cacaca;
    font-size: 14px;
    opacity: .9;
    display: block;
    padding: 10px;
    line-height: 1;
    box-sizing: border-box;
    resize: none;
}

textarea:focus, input:focus, select:focus, ul#singleFieldTags:focus {
    outline: 0;
}

a {
    color: #F90;
}

a:hover {
    color: #FC6;
}

.clear {
    clear: both;
}

input:focus, textarea:focus {
    -webkit-animation: input_bg; /* Chrome, Safari, Opera */
    animation: input_bg;
    -ms-transition: all .250s ease;
    -webkit-transition: all .250s ease;
    transition: all .250s ease;
    background: #404244;
}

/* Animation ---- input_bg ------ Chrome, Safari, Opera */
@-webkit-keyframes input_bg {
    0% {
        background: #27292a;
    }
    100% {
        background: #404244;
    }
}

/* Standard syntax */
@keyframes input_bg {
    0% {
        background: #27292a;
    }
    100% {
        background: #404244;
    }
}

/* input placeholder style */
::-webkit-input-placeholder /* WebKit browsers */
{
    color: #666;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #666;
    opacity: 1;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #666;
    opacity: 1;
    font-style: italic;

}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #666;
    font-style: italic;
}

div.debugCookie {
    font-weight: 300;
    font-size: 13px;
    border: 1px solid #6387cb;
    padding: 10px;
    width: 97%;
    margin: 0 0 10px 0;
}

div.debugCookie > div {
    width: 33%;
    float: left;
}

span.hashtag {
    color: #636363 !important;
}