body {
    overflow: auto !important;

    color: white;
    background: url(/_global/img/black_denim_100.png) repeat #000 fixed;

    font-family: 'Open Sans', sans-serif;
}

main {
    display: block;
}

tr td {
    vertical-align: top;
}

textarea,
input,
select {
    display: block;

    box-sizing: border-box;
    padding: 10px;

    resize: none;

    opacity: .9;
    color: #cacaca;
    border: 1px solid #353535;
    background: #27292a;

    font-size: 14px;
    line-height: 1;
}

textarea:focus,
input:focus,
select:focus {
    outline: 0;
}

a {
    color: #f90;
}

a:hover {
    color: #fc6;
}

.clear {
    clear: both;
}

input:focus,
textarea:focus {
    -webkit-transition: all .250s ease;
        -ms-transition: all .250s ease;
            transition: all .250s ease;
    -webkit-animation: input_bg;
            animation: input_bg;

    background: #404244; /* Chrome, Safari, Opera */
}

/* Animation ---- input_bg ------ Chrome, Safari, Opera */
@-webkit-keyframes input_bg {
    0% {
        background: #27292a;
    }
    100% {
        background: #404244;
    }
}

/* Standard syntax */
@keyframes input_bg {
    0% {
        background: #27292a;
    }
    100% {
        background: #404244;
    }
}

/* input placeholder style */
::-webkit-input-placeholder /* WebKit browsers */ {
    color: #666;

    font-style: italic;
}

:-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 4 to 18 */
    color: #666;

    font-style: italic;
}

::-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 19+ */
    color: #666;

    font-style: italic;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666;

    font-style: italic;
}

div.debugCookie {
    width: 97%;
    margin: 0 0 10px 0;
    padding: 10px;

    border: 1px solid #6387cb;

    font-size: 13px;
    font-weight: 300;
}

div.debugCookie > div {
    float: left;

    width: 33%;
}

span.hashtag {
    color: #636363 !important;
}
