body {
    overflow: auto !important;

    color: white;
    background: url(../img/black_denim_100.png) repeat #000 fixed;

    font-family: 'Open Sans', sans-serif;
}

tr td {
    vertical-align: top;
}

textarea,
input,
select,
ul#singleFieldTags {
    display: block;

    box-sizing: border-box;
    padding: 10px;

    resize: none;

    opacity: .9;
    color: #cacaca;
    border: 1px solid #353535;
    background: #27292a;

    font-size: 14px;
    line-height: 1;
}

li.tagit-new {
    width: 50px;
}

li.tagit-choice {
    border-color: #6387cb !important;
}

span.tagit-label {
    color: white !important;

    font-weight: 300;
}

ul#singleFieldTags {
    min-width: 200px;
    max-width: 380px;
    padding: 6px 10px 10px 10px !important;

    cursor: text;
}

textarea:focus,
input:focus,
select:focus,
ul#singleFieldTags:focus {
    outline: 0;
}

ul#singleFieldTags:hover {
    -webkit-transition: all .250s ease;
        -ms-transition: all .250s ease;
            transition: all .250s ease;
    -webkit-animation: input_bg;
            animation: input_bg;

    background: #404244; /* Chrome, Safari, Opera */
}

input:focus,
textarea:focus {
    -webkit-transition: all .250s ease;
        -ms-transition: all .250s ease;
            transition: all .250s ease;
    -webkit-animation: input_bg;
            animation: input_bg;

    background: #404244; /* Chrome, Safari, Opera */
}

a {
    color: #f90;
}

a:hover {
    color: #fc6;
}

.clear {
    clear: both;
}

div.warning {
    width: 1300px;
    margin: 0 auto;

    text-align: left;
}

div.IntroTag {
    display: block;

    width: 391px;
    height: 202px;
    margin: 90px auto 10px;

    background: url(../img/intro_tag.jpg) no-repeat;
}

div.IntroTag div {
    position: relative;
    top: 106px;
    left: 25px;
}

a.TvToDesktop {
    position: absolute;

    display: block;

    width: 85px;
    height: 70px;
    margin: 0 0 0 150px;

    border: 0 red dashed;
}

#broadcastHidden {
    display: none;
}

div.IntroTag input.code {
    float: left;
    overflow: hidden;

    width: 255px;
    height: 60px;
    padding: 10px;

    font-size: 12px;
    line-height: 120%;
}

div.IntroTag input.SendVideo {
    float: left;

    width: 60px;
    height: 60px;
    margin: 0 0 0 5px;

    cursor: pointer;

    border: none;
    background: url(../img/bt_send_video_o.png) no-repeat;
}

div.IntroTag input.SendVideo:hover {
    background: url(../img/bt_send_video_i.png) no-repeat;
}

div.tempLoginDiv {
    display: block;

    width: 338px;
    margin: 0 auto;

    border: 0 red dashed;
}

div.tempLoginDiv input {
    width: 255px;
    margin: 0 0 10px 0;
}

div.CanvasLine {
    display: block;
    float: none;
    clear: both;

    width: 100%;
    height: 45px;
    margin: 0 0 20px 0;

    vertical-align: middle !important;
}

div.CanvasLine div.Header {
    float: left;

    width: 140px;
}

div.CanvasLine div.Content {
    float: left;
}

.flags div.CanvasLine {
    height: 45px;
}

div.CanvasLine div.Content_Inline {
    float: left;

    margin: 0 20px 0 0;
}

table tr td.flags div.CanvasLine {
    margin: 0 0 45px 0;
}

table tr td.tags div.CanvasLine div.Header {
    display: none;

    width: 62px;
}

div.UserTitle {
    width: 100%;
    margin: 0 0 20px 0;
}

span.ui-helper-hidden-accessible {
    display: none;
}

textarea.tags {
    clear: both;
    overflow: hidden;

    width: 550px;
    height: 50px;
    margin: 5px 5px 5px 0;

    text-transform: capitalize;

    color: #feebb8;

    font-size: 12px;
    line-height: 120%;
}

textarea.tags:focus {
    background: #404244;
}

div.TagOffer {
    display: block;
    clear: both;

    width: 528px;
    margin: 3px 0 4px 0;
    padding: 10px;

    text-transform: capitalize;

    color: #666;
    border: 1px #333 dashed;
}

span.tagInsert:hover {
    float: none;

    cursor: pointer;

    color: #feebb8;
}

span.tagInsertSa:hover,
span.tagInsertMusic:hover,
span.tagInsertFashion:hover,
span.tagInsertArts:hover,
span.tagInsertTags:hover {
    float: none;

    cursor: pointer;

    color: #feebb8;
}

img.PreviewImg,
div.VideoBlock {
    display: block;

    max-width: 540px;
    margin: 0 0 20px 0;
    padding: 10px;

    text-align: center;

    border: 1px solid #353535;
    background: #27292a;
}

a.EditButton {
    display: block;
    float: right;

    width: 37px;
    height: 37px;
    margin: 5px 5px;

    cursor: pointer;
    text-decoration: none;

    border: none;
    background: url(../img/bt_edit.png) no-repeat;
}

a.ApproveButton {
    display: block;
    float: right;

    width: 37px;
    height: 37px;
    margin: 5px 0 5px;

    cursor: pointer;
    text-decoration: none;

    border: none;
    background: url(../img/bt_approve.png) no-repeat;
}

div.ScreenFade {
    position: absolute;
    z-index: 98;
    top: 0;

    width: 100%;
    height: 100%;

    opacity: .85;
    background: #000;
}

div.ScreenFade div.SuccessMsg {
    position: relative;
    z-index: 99;

    width: 400px;
    margin: 12% auto;
    padding: 20px 5px;

    text-align: center;
    vertical-align: middle;

    opacity: 1;
    color: #fff;
    border: 1px #333 solid;
    border-radius: 10px;
    background-color: #000;

    font-size: 14px;
}

/*------- Desktop Page
------------------------------------------------*/

/*------- Video Display Block
------*/

div.item {
    margin-left: -8px;
    padding: 3px 5px 5px 3px;

    color: rgba(255, 255, 255, .5);
    border: 1px solid #27292a;
    background: #27292a;
}

div.item:hover {
    color: rgba(255, 255, 255, 1);
    background: #313435;
}

div.item a {
    text-decoration: none;

    color: rgba(255, 255, 255, .5);
    border: none;
}

main > div#MainOutput > div#container > .item > .box > a > img {
    width: 100%;
    height: 100%;
}

div.item > .box {
    position: relative;

    margin: 0;
    padding: 0;

    opacity: .7;
    border: 1px solid #27292a;
}

div.item:hover > .box {
    opacity: 1;
    border: 1px solid #313435;
}

div.item.here {
    opacity: 1;
    border: 1px solid #6387cb;
}

div.item.here > .box {
    opacity: 1 !important;
}

div.item > .box > .wf-info {
    position: absolute;

    overflow: hidden;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0;

    border: 1px #666 solid;
    background-color: rgba(50, 50, 50, .5);

    font-size: 12px;
    line-height: 120%;
}

/*div.item > .box.here > .wf-info {*/
/*border-right: none;*/
/*padding: 0 1px;*/
/*border-left: none;*/
/*}*/

div.item > .box > .wf-info > .wf-title {
    margin: 2px 5px 0;
}

div.item > .box > .wf-info > .wf-desc {
    margin: 2px 5px 0;
}

div.item > .box > .min-icons {
    position: absolute;
    top: 140px;
    left: 8px;

    display: block;

    width: auto;

    border: 0 #666 solid;
}

img.min-icon {
    position: relative;

    display: block;
    float: right;

    width: 32px;
    height: 32px;
    margin: 0 4px 0 0;
}

div.wf-rating {
    position: absolute;
    top: 145px;
    left: 270px;

    display: block;

    width: 35px;
    height: 24px;
    margin: 0 0 0 5px;

    text-align: center;
    vertical-align: bottom !important;
    letter-spacing: .2px;

    color: #666;
    border: 1px #666 solid;
    background-color: #252627;

    font-size: 11px;
    line-height: 110%;
}

/*div.item.here div.min-icons { top:151px; left: 11px;}*/
/*div.item.here div.wf-rating { top:157px; left: 284px;}*/

div.wf-rating > div.RateText {
    margin: 6px 0 0 0;
}

div.wf-rating > div.RateText:first-letter {
    letter-spacing: .1px !important;

    color: #999;

    font-size: 14px;
}

.wf-info,
.wf-title,
.wf-desc {
    color: inherit;
}

.wf-info:hover,
.wf-title:hover,
.wf-desc:hover,
.item:hover a {
    color: inherit;
}

.wf-title a:hover {
    color: rgba(200, 222, 241, 1);
}

span.sup {
    vertical-align: super;

    color: #999;

    font-size: 9px;
}

div.item.board {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;

    width: 720px;
    margin: 0 auto 20px;

    border: 1px red dashed;
}

/*------- Tags Styles Section
------*/

div#InformationWindow > .left > span.Tags > a.tag,
section.PostBox > article > div.wrapper > .info > .pad > span.Tags > a.tag,
div.NoResultAdvice > span.Tags > a.advice-tag {
    margin: 0 5px 0 0;

    white-space: nowrap;
    text-decoration: none;
    text-transform: capitalize;

    color: #999;
    border-color: #525050;
    background-color: #191919;

    font-size: 13px;
    line-height: 220%;
}

div#InformationWindow > .left > span.Tags > a.tag:hover,
section.PostBox > article > div.wrapper > .info > .pad > span.Tags > a.tag:hover,
div.NoResultAdvice > span.Tags > a.advice-tag:hover {
    cursor: pointer;

    color: #fff;
    border-color: #6387cb;
    background-color: #292929;
}

div#InformationWindow > .left > span.Tags > a.here,
section.PostBox > article > div.wrapper > .info > .pad > span.Tags > a.here,
div.NoResultAdvice > span.Tags > a.advice-tag.here {
    color: #fff;
    border-color: #6387cb;
}

span.Tags span.tag,
a.tag,
a.advice-tag {
    padding: 2px 4px !important;

    color: #fff;
    border: 1px solid #524c3d;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #191919;

    font-size: 14px;
}

h1.setInfo > span.Tags span.tag {
    border-color: #5e82b3;
}

span.Tags span.x-close {
    padding: 0 1px 0 4px;

    color: #a5a5a5;
}

span.Tags span.x-close:hover {
    cursor: pointer;

    color: #a7c4e3;
}

span.tag,
span.type-tag {
    white-space: nowrap;
}

div.VideoBlock iframe {
    display: block;

    margin: 0 auto;
}

.tags-fashion,
.tags-fine-arts,
.tags-music,
.tags-others,
.tags-sphere {
    display: block;

    width: 39px;
    height: 39px;
}

.tags-fashion:hover,
.tags-fine-arts:hover,
.tags-music:hover,
.tags-others:hover,
.tags-sphere:hover {
    cursor: pointer;
}

.tags-fashion {
    background: url(../img/tags-fashion.png) no-repeat;
}

.tags-fine-arts {
    background: url(../img/tags-fine-arts.png) no-repeat;
}

.tags-music {
    background: url(../img/tags-music.png) no-repeat;
}

.tags-others {
    background: url(../img/tags-others.png) no-repeat;
}

.tags-sphere {
    background: url(../img/tags-sphere.png) no-repeat;
}

.bt_back,
.bt_download,
.bt_help {
    position: absolute;

    display: block;

    width: 47px;
    height: 47px;

    cursor: pointer;

    border: 1px solid #353535;
}

.bt_back {
    margin: 0 0 0 -135px;

    background: url(../img/bt_back_o.png) no-repeat;
}

.bt_back:hover {
    background: url(../img/bt_back_i.png) no-repeat;
}

.bt_download {
    margin: 0 0 0 -52px;

    background: url(../img/bt_download_o.png) no-repeat;
}

.bt_download:hover {
    background: url(../img/bt_download_i.png) no-repeat;
}

.bt_help {
    margin: 0 0 0 580px;

    background: url(../img/bt_help_o.png) no-repeat;
}

.bt_help:hover {
    background: url(../img/bt_help_i.png) no-repeat;
}

a.delete {
    text-decoration: none;

    color: #666;
}

a.delete:hover {
    text-decoration: none;

    color: #f90;
}

a.yes_delete {
    color: #900;
}

a.yes_delete:hover {
    color: #c00;
}

div.Description {
    width: 520px;

    color: #666;
}

div.Description {
    margin: 0 0 2px 0;
    padding: 10px;

    border: 1px solid #353535;
    background: url(../img/black_denim_50.png) repeat #000;
}

div.Description pre {
    display: block;
    overflow: hidden;

    word-wrap: break-word;

    color: #888;

    font-style: italic;
}

div.ExpandDesc {
    display: block;

    width: 540px;
    height: 22px;

    border: 1px solid #353535;
    background: url(../img/readmore-down.png) no-repeat center #1c1c1d;
}

div.ExpandDesc:hover {
    cursor: pointer;

    background: url(../img/readmore-down-h.png) no-repeat center #313131;
}

div.ExpandDescUp {
    background: url(../img/readmore-up.png) no-repeat center #1c1c1d;
}

div.ExpandDescUp:hover {
    background: url(../img/readmore-up-h.png) no-repeat center #313131;
}

div.sep_h {
    display: block;

    width: 560px;
    height: 2px;
    margin: 25px 0 15px;

    background: url(../img/sep_h_560.png) no-repeat;
}

div.sep_v {
    position: absolute;

    display: block;

    width: 3px;
    height: 496px;
    margin: -160px 0 0 605px;

    background: url(../img/sep_v.png) no-repeat;
}

.styledRadio {
    float: left !important;

    width: 32px;
    margin: 0 10px 0 0;
}

.styledCheckbox {
    float: left !important;

    width: 32px;
    margin: 0 10px 0 0;
}

.Input_Form {
    float: none;

    width: 100%;
    margin: 20px auto;

    font-size: 12px;
    line-height: 140%;
}

.Input_Form input {
    width: 420px;
}

.Input_Form input.short {
    width: 160px;
}

.Input_Form input.tiny {
    width: 60px;

    text-align: center;
}

.Input_Form input.medium {
    width: 300px;
}

td.primary input {
    width: 540px;
}

td.primary input.short {
    width: 220px;
}

div.input_error,
div.input_error input {
    border-color: #e78b2f;
}

div.input_error input:focus {
    -webkit-transition: all .250s ease;
        -ms-transition: all .250s ease;
            transition: all .250s ease;
    -webkit-animation: input_border_error;
            animation: input_border_error;

    border-color: #9cf;
}

div.input_error textarea {
    border-color: #f63;
}

div.debug {
    width: 200px;
    margin: 25px auto 0;

    font-size: 12px;
    font-weight: 400;
}

div.send {
    margin: 0 auto;

    border: 0 red dashed;
}

div.send input {
    margin: 0 0 0 0;
}

/* Animation ---- input_bg ------ Chrome, Safari, Opera */
@-webkit-keyframes input_bg {
    0% {
        background: #27292a;
    }
    100% {
        background: #404244;
    }
}

/* Standard syntax */
@keyframes input_bg {
    0% {
        background: #27292a;
    }
    100% {
        background: #404244;
    }
}

/* Animation ---- input_bg ------ Chrome, Safari, Opera */
@-webkit-keyframes input_border_error {
    0% {
        border-color: #e78b2f;
    }
    100% {
        border-color: #9cf;
    }
}

/* Standard syntax */
@keyframes input_border_error {
    0% {
        border-color: #e78b2f;
    }
    100% {
        border-color: #9cf;
    }
}

/* Sliders*/
#TempoComment,
#RatingComment {
    color: #cacaca;
}

#TempoDisplay,
#RatingDisplay {
    color: #feebb8;
}

#TempoComment i {
    font-size: 11px;
}

.tempo-scale {
    z-index: 0;

    display: block;

    width: 417px;
    height: 32px;
    margin: 4px 0 0 -6px;

    background: url(../img/tempo-scale.png) no-repeat;
}

.ui-slider {
    position: relative;

    text-align: left; /*block all line*/

    background: url(../img/slider-empty.png) repeat-x;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;

    cursor: pointer;

    -ms-touch-action: none;
        touch-action: none;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;

    display: block;

    border: 0;
    /*цвет до handle*/
    background: url(../img/slider-blue.png) repeat-x 0 0;

    font-size: .7em;
}

#Rating .ui-slider-range {
    background: url(../img/awesom-meter.png) no-repeat;
}

#Tempo .ui-slider-range {
    background: url(../img/slider-grey-50.png) repeat-x;
}

/* For IE8 - See #6727 */

.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {
    height: 9px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;

    margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;

    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

#Slider {
    display: block;

    width: 400px;
    margin: 5px 0 0 0;

    border: 0 red dashed !important;
}

.ui-slider-handle {
    display: block;

    width: 40px !important;
    height: 43px !important;
    margin: -12px 0 0 -25px !important;

    border: 0 red dashed;
    background: url(../img/slider-knob-pro-i.png) no-repeat;
}

.ui-slider-handle:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666;

    font-style: italic;
}

:-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 4 to 18 */
    color: #666;

    font-style: italic;
}

::-moz-placeholder {
    opacity: 1;
    /* Mozilla Firefox 19+ */
    color: #666;

    font-style: italic;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666;

    font-style: italic;
}

.tabs-menu {
    float: left;
    clear: both;

    height: 40px;
}

.tabs-menu li {
    float: left;

    width: 93px;
    height: 40px;
    margin: 0 -1px 0 0;

    background: url(../img/tag_o.png) no-repeat;
}

.tabs-menu li a img {
    display: block;

    margin: auto;
}

.tabs-menu li.current {
    position: relative;
    z-index: 5;

    width: 93px;
    margin: 0 0 0 0;

    background: url(../img/tag_i.png) no-repeat #1a1a1b;
}

.tabs-menu li a {
    display: block;

    width: 93px;
    height: 40px;

    cursor: pointer;
    text-decoration: none;
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    float: left;

    width: auto;
    margin-bottom: 20px;

    border: 0 dashed #d4d4d1;
}

.tab-content {
    display: none;

    width: 100%;
}

#tab-1 {
    display: block;
}

.tab-content div.CanvasLine {
    width: 100%;
    height: auto;
    margin: 0;
}

div.tabDescr {
    width: 550px;
    margin: -1px 0 2px 0;
    padding: 5px;

    border: 1px solid #383838;
    background: #1a1a1b;
}

div.tabDescr h2 {
    display: block;

    margin: 3px 0 7px 0;

    color: #999;

    font-size: 12px;
    font-weight: bold;
}

div.tabDescr p {
    font-size: 11px;
    font-style: italic;
}

div.Team-Fixed {
    position: fixed;
    z-index: 10;

    width: 100%;

    border: 0 red dashed;
    background: url(../img/black_denim.png) repeat #000;
}

.approved {
    border-bottom: 1px solid #7bc251 !important;
}

.stacked {
    border-bottom: 1px solid #6d5698 !important;
}

.timeline {
    border-bottom: 1px solid #808080 !important;
}

.review {
    border-bottom: 1px solid #5d96d3 !important;
}

div.Team-Dashboard {
    position: relative;
    z-index: 12;

    width: 1050px;
    height: 180px;
    margin: 0 auto;

    color: #fff;
    border: 0 red dashed;

    font-weight: 300;
}

div.Team-Body-Indent {
    height: 240px;
}

div.Team-Body {
    z-index: 0;

    width: 1050px;
    margin: 0 auto;
}

div.TD-Title {
    position: relative;

    width: auto;
    margin: 20px 0 0 0;

    text-align: center;

    border: 0 red dashed;

    font-size: 36px;
}

div.TD-UserStat {
    margin: 5px 0 0 0;

    text-align: center;

    border: 0 red dashed;
}

div.TD-UserStat div {
    display: inline;

    margin: 0 15px 0 0;

    color: #7d7d7d;

    font-size: 14px;
}

div.TD-Tabs {
    position: relative;
    top: 85px;

    width: 822px;
    height: 51px;
    margin: 0 auto 0;

    border: 0 red dashed;
}

div.TD-Tabs.noAuth {
    width: 456px;

    border: 0 red dashed;
}

div.TD-Menu-bt {
    float: left;

    width: 150px;
    height: 50px;

    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;

    color: #fff;
    border: 1px solid #282828;
    background: #000;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 270%;
}

div.TD-Menu-bt a {
    display: block;

    width: 100%;
    height: 50px;

    text-decoration: none;

    color: #646464;
}

div.TD-Menu-bt:hover {
    background: #0f0f0f;
}

div.TD-Menu-bt a:hover {
    color: #c0c0c0;
}

div.TD-Menu-bt.here {
    border: 1px solid #4a4a4a;
    border-bottom: none;
    background: #232323;
}

div.TD-Menu-bt-VideoInput {
    float: left;

    width: 212px;
    height: 50px;
    margin: 0;

    text-align: center;
    vertical-align: middle;

    color: #fff;
    border: 0 solid #282828;
    background: #000;

    line-height: 270%;
}

div.TD-Menu-bt-VideoInput input.code {
    float: left;
    overflow: hidden;

    width: 160px;
    height: 52px;
    padding: 10px;

    text-transform: capitalize;

    color: #fff;
    border: 1px solid #282828;
    background: #080808;

    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    line-height: 270%;
}

div.TD-Menu-bt-VideoInput input.SendVideo {
    float: left;

    width: 52px;
    height: 52px;
    margin: 0 0 0 0;

    cursor: pointer;

    border: none;
    background: url(../img/bt_send_video_o_52.png) no-repeat;
}

div.TD-Menu-bt-VideoInput input.SendVideo:hover {
    background: url(../img/bt_send_video_i_52.png) no-repeat;
}

div.TD-Menu-bt-VideoInput input.code:focus {
    -webkit-transition: all .250s ease;
        -ms-transition: all .250s ease;
            transition: all .250s ease;
    -webkit-animation: input_bg_dark;
            animation: input_bg_dark;

    border: 1px solid #4a4a4a; /* Chrome, Safari, Opera */
    border-bottom: #65cca2 1px solid;
    background: #1d1d1d;
}

/* Animation ---- input_bg ------ Chrome, Safari, Opera */
@-webkit-keyframes input_bg_dark {
    0% {
        border: 1px solid #282828;
        background: #080808;
    }
    100% {
        border: 1px solid #4a4a4a;
        border-bottom: #65cca2 1px solid;
        background: #1d1d1d;
    }
}

/* Standard syntax */
@keyframes input_bg_dark {
    0% {
        border: 1px solid #282828;
        background: #080808;
    }
    100% {
        border: 1px solid #4a4a4a;
        border-bottom: #65cca2 1px solid;
        background: #1d1d1d;
    }
}

div.Team-Dashboard a.bt-ToTheMain {
    position: absolute;
    z-index: 10;
    top: 5px;

    display: block;

    width: 40px;
    height: 40px;

    background: url(../img/bt_to_the_main.png) no-repeat;
}

div.Team-Dashboard a.bt-LogIn-sml {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 1010px;

    display: block;

    width: 40px;
    height: 40px;

    background: url(../img/bt_login_sml.png) no-repeat;
}

div.Team-Dashboard a.bt-LogOut-sml {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 1010px;

    display: block;

    width: 40px;
    height: 40px;

    background: url(../img/bt_logout_sml.png) no-repeat;
}

/*-------        Post Box        ------*/
section.PostBox a,
div#InformationWindow a {
    text-decoration: none;

    color: #fff;
}

section.PostBox a:hover,
div#InformationWindow a:hover {
    color: #cdeaff;
}

section.PostBox {
    width: 85%;
    min-width: 770px;
    /*margin: 0 0 1.2% 5%;*/
    max-width: 1600px;
    margin: 0 auto .7%;
    padding: 0 0 0 0;

    font-weight: 300;
}

section.PostBox > div.DateTag {
    float: left;
    /*background: url(../img/date-shdw.png) #202020 repeat-y right;*/

    width: 50px;
    height: 93px;
    margin: 23px 0 0 0;

    text-align: center;

    color: #aaa;
    border: 1px solid #2c2c2c;
    border-right: none;
}

section.PostBox > div.DateTag > .Day {
    margin: 10px 0 0 0;

    font-size: 22px;
    font-weight: 600;
}

section.PostBox > div.DateTag > .Hr {
    width: 26px;
    height: 1px;
    margin: 5px auto;

    border-bottom: 1px solid #8d8d8d;
}

section.PostBox > div.DateTag > .Month {
    text-transform: uppercase;

    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
}

section.PostBox > div.DateTag > .Year {
    font-size: 10px;
    font-weight: 400;
    line-height: 120%;
}

section.PostBox > article {
    margin: 0 0 0 0;

    border: 1px solid #2f2f2f;
    background: url(../img/black_denim_50.png) repeat;
}

section.PostBox > article > div.wrapper {
    margin: 2%;
}

section.PostBox > article > div.wrapper > div.info {
    display: block;
    float: right;

    width: 37%;
}

section.PostBox > article > div.wrapper > div.info > .pad {
    padding: 0 0 0 15px;
}

section.PostBox > article > div.wrapper > div.thumb {
    display: block;

    width: 63%;
}

section.PostBox > article > div.wrapper > div.thumb > .wrapper {
    position: relative;

    display: block;

    width: 100%;
    padding-top: 56.25%;
}

section.PostBox > article > div.wrapper > div.thumb > .wrapper > .main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: 1px solid #2f2f2f;
}

section.PostBox > article > div.wrapper > div.thumb > .wrapper > .main > img {
    display: block;

    width: 100%;
    height: 100%;

    cursor: pointer;
}

section.PostBox > article > div.wrapper > div.thumb > .wrapper > .main > img:hover {
    opacity: .7;
}

section.PostBox > article > div.wrapper > div.thumb > .wrapper > .main > iframe {
    display: block;

    width: 100%;
    height: 100%;
    /*display: none;*/
}

/*-------        InformationWindow        ------*/

div#InformationWindow {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 40px 0;

    border: 1px solid #2f2f2f;
    border-top: none;
    background: url(../img/black_denim_50.png) repeat;

    font-weight: 300;
}

div#InformationWindow > div#InformationWindow {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    border: none;
    background: none;
}

/* trick for editing template */

#InformationWindow > .left {
    float: none;
    overflow: auto;

    width: 64%;
    margin: 0 0 0 5%;
    /*border: 1px #468fe1 dashed;*/
}

#InformationWindow > .right {
    float: right;

    width: 28%;
    margin: 0 2% 0 0;

    font-size: 14px;
    /*border: 1px #41cee1 dashed;*/
}

@media screen and (min-width: 2270px) {
    #InformationWindow > .left {
        width: 45%;
        /*border: 1px red dashed;*/
        margin-left: 15%;
    }

    #InformationWindow > .right {
        /*border: 1px #ff6984 dashed;*/
        width: 35%;
    }
}

div#InformationWindow > .left > div.Title,
section.PostBox > article > div.wrapper > .info > .pad > h1 {
    display: block;

    margin: 0 0 0 0;

    text-transform: capitalize;

    color: #a9a9a9;

    font-size: 24px;
    line-height: 120%;

    _min-height: 50px;
    /*border: 1px #ff7a95 dashed;*/
}

div#InformationWindow > .left > div.KeyShots {
    display: block;

    margin: 16px 0 0 0;

    color: #555;

    font-size: 14px;
}

div#InformationWindow > .left > div.KeyShots > ul {
    display: block;
    clear: both;
    /*border: 1px blue dashed;*/
    overflow: auto;

    width: 100%;
    margin: 15px 0 0 0;
}

div#InformationWindow > .left > div.KeyShots > ul > li {
    position: relative;

    display: block;
    float: left;

    margin: 5px 12px 0 0;
    padding: 0 0 3px 0;

    text-transform: capitalize;

    color: #8d8d8d;
    border-bottom: 1px solid #0e0e0e;
}

@keyframes KeyShotsTagHover {
    from {
        color: #8d8d8d;
    }
    to {
        color: #b5d4f7;
    }
}

@keyframes KeyShotsTagStartLoad {
    from {
        color: #b5d4f7;
    }
    to {
        color: #ffe9b2;
    }
}

@keyframes KeyShotsTagLoad {
    from {
        color: #ffe9b2;
    }
    to {
        color: #b5d4f7;
    }
    from {
        border-bottom: 1px solid #0e0e0e;
    }
    to {
        border-bottom: 1px dashed #6da3e1;
    }
}

@keyframes KeyShotsTagFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div#InformationWindow > .left > div.KeyShots > ul > li:hover {
    cursor: pointer;

    color: #b5d4f7;
    /*animation: KeyShotsTagHover .15s linear;*/
}

div#InformationWindow > .left > div.KeyShots > ul > li:hover:before {
    background: url('../img/ui_video_player.png') -12px -194px;
}

div#InformationWindow > .left > div.KeyShots > ul > li:before {
    z-index: 10;

    display: block;
    float: left;

    width: 11px;
    height: 11px;
    margin: 0 3px 0 0;

    content: ' ';

    background: url('../img/ui_video_player.png') 0 -194px;
}

div#InformationWindow > .left > div.KeyShots > ul > li.load {
    cursor: text;
    animation: KeyShotsTagStartLoad .1s linear;

    color: #ffe9b2;
}

div#InformationWindow > .left > div.KeyShots > ul > li.load:before {
    z-index: 20;

    animation: KeyShotsTagFade .15s linear;

    background: url('../img/ui_video_player.png') -24px -194px;
}

div#InformationWindow > .left > div.KeyShots > ul > li.here {
    cursor: pointer;
    animation: KeyShotsTagLoad .3s linear;

    color: #b5d4f7;
    border-bottom: 1px dashed #6da3e1;
}

div#InformationWindow > .left > div.KeyShots > ul > li.here:before {
    /*background: url('../../desktop/img/keyshot_bullet_here.gif');*/
    z-index: 30;

    animation: KeyShotsTagFade .15s linear;

    background: url('../img/ui_video_player.png') -12px -194px;
}

div#InformationWindow > .left > div.KeyShots > div.ShotName {
    display: block;

    min-height: 16px;
    margin: 10px 0 0 125px;
    padding-top: 4px;
    padding-right: 20px;

    color: #b9c3ce;

    font-size: 15px;
    line-height: 120%;
    /*border: 1px red dashed;*/
}

div.TimeCode {
    float: left;

    width: 100px;
    margin: 10px 0 0 0;
    padding: 6px 7px;

    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    text-align: center;

    color: #999;
    border: 1px solid #282723;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #121212;

    font-family: Verdana;
    font-size: 14px;
    font-weight: normal;

    -webkit-touch-callout: none; /* iOS Safari */
     -khtml-user-select: none; /* Konqueror HTML */
}

div.TimeCode > span {
    color: #646464;
}

div#InformationWindow span.prevFrame,
div#InformationWindow span.nextFrame {
    display: block;
    float: left;

    width: 9px;
    height: 14px;

    cursor: pointer;
}

@keyframes KeyShotsTagStartLoad {
    from {
        color: #b5d4f7;
    }
    to {
        color: #ffe9b2;
    }
}

div#InformationWindow span.prevFrame {
    background: url('../img/ui_video_player.png') -94px -160px;
}

div#InformationWindow span.prevFrame:hover {
    background: url('../img/ui_video_player.png') -112px -160px;
}

div#InformationWindow span.prevFrame.loading {
    background: url('../img/ui_video_player.png') -130px -160px;
}

div#InformationWindow span.nextFrame {
    float: right;

    background: url('../img/ui_video_player.png') -103px -160px;
}

div#InformationWindow span.nextFrame:hover {
    background: url('../img/ui_video_player.png') -121px -160px;
}

div#InformationWindow span.nextFrame.loading {
    background: url('../img/ui_video_player.png') -139px -160px;
}

div#InformationWindow > .left > div.KeyShots > div.ShotName div.keyShot {
    display: inline-block;

    width: 11px;
    height: 11px;
    margin: 2px 4px 0 8px;

    background: url('../img/ui_video_player.png') -12px -194px;
}

section.PostBox > article > div.wrapper > .info > .pad > h1 {
    margin: 0;

    font-size: 21px;
}

/*
div#InformationWindow > div.timecode {
    width: 90px;
    height: 25px;
    color: #636363;
    margin: 0 auto;
    font-weight: normal;
}
*/

div#InformationWindow > div.controlRow {
    width: 100%;
    height: 60px;
    margin: 0 0 10px 0;

    text-align: center;

    border: 0 red dashed;
}

div#InformationWindow > .left > span.Tags {
    display: block;

    margin: 25px 0 0 0;
}

section.PostBox > article > div.wrapper > .info > .pad > span.Tags {
    display: block;

    margin: 20px 0 0 0;
}

#InformationWindow > .left > div.Rating,
section.PostBox > article > div.wrapper > .info > .pad > div.Rating {
    display: table;

    width: 100%;
    height: 28px;
    margin: 30px 0 0 0;

    border: 0 dashed #fe0;
}

section.PostBox > article > div.wrapper > .info > .pad > div.Rating {
    margin: 18px 0 0 0;
}

#InformationWindow > .right > .Authors,
section.PostBox > article > div.wrapper > .info > .pad > .Authors {
    display: table;

    margin: 3px 0 0 0;

    border: 0 yellow dashed;

    line-height: 120%;
}

section.PostBox > article > div.wrapper > .info > .pad > .Authors {
    margin: 12px 0 0 0;
}

#InformationWindow > .right > .Authors > .IconCol,
section.PostBox > article > div.wrapper > .info > .pad > .Authors > .IconCol {
    display: table-cell;

    width: 22px;

    vertical-align: middle;

    border: 0 red dashed;
}

#InformationWindow > .right > .Authors > .IconCol > div.UserIcon,
section.PostBox > article > div.wrapper > .info > .pad > .Authors > div.UserIcon {
    width: 22px;
    height: 20px;

    background: url('../img/ui_video_player.png') -46px -189px;
}

#InformationWindow > .right > .Authors > .Names,
section.PostBox > article > div.wrapper > .info > .pad > .Authors > .Names {
    display: table-cell;

    padding: 0 10px 0 5px;

    vertical-align: middle;

    color: #c6c6c6;
    border: 0 blue dashed;

    font-size: 14px;
}

section.PostBox > article > div.wrapper > .info > .pad > .Authors > .Names {
    font-size: 14px;
}

#InformationWindow > .right > .Location,
section.PostBox > article > div.wrapper > .info > .pad > .Location {
    margin: 5px 0 0 0;
    padding: 0 10px 0 0;
}

section.PostBox > article > div.wrapper > .info > .pad > .Location {
    font-size: 12px;
}

#InformationWindow > .right > .Brand,
section.PostBox > article > div.wrapper > .info > .pad > .Brand {
    margin: 15px 0 5px 0;
}

#InformationWindow > .right > .Tv_Channel,
section.PostBox > article > div.wrapper > .info > .pad > .Tv_Channel {
    margin: 15px 0 0 0;
}

#InformationWindow > .right > .Motion_Type,
section.PostBox > article > div.wrapper > .info > .pad > .Motion_Type {
    margin: 10px 0 0 0;
}

#InformationWindow > .right > .Broadcast_Type,
section.PostBox > article > div.wrapper > .info > .pad > .Broadcast_Type {
    margin: 20px 0 0 0;

    font-size: 12px;
}

#InformationWindow > .right > .Motion_Type img.min-icon,
section.PostBox > article > div.wrapper > .info > .pad > .Motion_Type img.min-icon {
    position: relative;
    top: 10px;

    display: inline;
    float: none;

    width: 32px;
    height: 32px;
    margin: -10px 4px 0 0;
}

#InformationWindow .min_cap,
section.PostBox > article .min_cap {
    display: inline;

    color: #aaa;

    font-size: 12px;
}

#InformationWindow > .left > .Rating > .Num,
section.PostBox > article > div.wrapper > .info > .pad > .Rating > .Num {
    display: table-cell;

    width: 35px;
    height: 24px;
    margin: 0 0 0 5px;

    text-align: center;
    vertical-align: top;
    letter-spacing: .2px;

    color: #666;
    border: 1px #666 solid;
    background-color: #252627;

    font-size: 11px;
    line-height: 110%;
}

#InformationWindow > .left > .Rating > .Num > div.RateText,
section.PostBox > article > div.wrapper > .info > .pad > .Rating > .Num > div.RateText {
    margin: 7px 10px 0;
}

#InformationWindow > .left > .Rating > .Num > div.RateText:first-letter,
section.PostBox > article > div.wrapper > .info > .pad > .Rating > .Num > div.RateText:first-letter {
    letter-spacing: .1px !important;

    color: #999;

    font-size: 14px;
}

#InformationWindow > .left > .Rating > .AwesomeRate,
section.PostBox > article > div.wrapper > .info > .pad > .Rating > .AwesomeRate {
    position: relative;

    margin: 0 0 0 10px;

    border: 0 blue dashed;
}

#InformationWindow > .left > .Rating > .AwesomeRate > .MeterGhost,
section.PostBox > article > div.wrapper > .info > .pad > .Rating > .AwesomeRate > .MeterGhost,
#InformationWindow > .left > .Rating > .AwesomeRate > .MeterExist,
section.PostBox > article > div.wrapper > .info > .pad > .Rating > .AwesomeRate > .MeterExist {
    position: absolute;

    width: 100%;
    height: 5px;
    margin: 5px 0 0 0;
}

#InformationWindow > .left > .Rating > .AwesomeRate > .MeterGhost,
section.PostBox > article > div.wrapper > .info > .pad > .Rating > .AwesomeRate > .MeterGhost {
    z-index: 1;

    background: url(../img/awesom-meter-sml-o.png) no-repeat;
    background-size: cover;
}

#InformationWindow > .left > .Rating > .AwesomeRate > .MeterExist,
section.PostBox > article > div.wrapper > .info > .pad > .Rating > .AwesomeRate > .MeterExist {
    z-index: 2;

    background: url(../img/awesom-meter-sml.png) no-repeat;
    background-size: cover;
}

div.Rating {
    width: 70% !important;
}
