/* ------ MainPlayerControls ------ */

div#MPC {
    display: block;

    width: 395px;
    height: 47px;
    margin: 0 auto;
    padding-left: 60px;

    border: 0 red dashed;
}

div#MPC div {
    float: left;
    overflow: hidden;

    width: 56px;
    height: 40px;
    margin: 7px 8px 0 0;

    cursor: pointer;

    background: url(../img/ui_video_player.png) no-repeat;
}

/*
!*PlayPause Big *!

div#MPC > div#PlayPause.pause{
    width: 47px;
    height: 47px;
    margin-top: 3px;
    background-position: -47px 0;
}

div#MPC > div#PlayPause.play{
    width: 47px;
    height: 47px;
    margin-top: 3px;
    background-position: 0 0;
}

div#MPC > div#PlayPause.play:hover{
    background-position: 0 -47px;
}

div#MPC > div#PlayPause.pause:hover{
    background-position: -47px -47px;
}

div#MPC > div#PlayPause.play:active{
    background-position: 0 -94px;
}

div#MPC > div#PlayPause.pause:active{
    background-position: -47px -94px;
}

div#MPC > div#PlayPause.play:disabled{
    background-position: 0 -141px;
}

div#MPC > div#PlayPause.pause:disabled{
    background-position: -47px -141px;
}
*/

/*PlayPause Biggest */

div#MPC > div#PlayPause.pause {
    width: 62px;
    height: 47px;
    margin-top: 3px;

    background-position: -436px 0;
}

div#MPC > div#PlayPause.play {
    width: 62px;
    height: 47px;
    margin-top: 3px;

    background-position: -374px 0;
}

div#MPC > div#PlayPause.play:hover {
    background-position: -374px -47px;
}

div#MPC > div#PlayPause.pause:hover {
    background-position: -436px -47px;
}

div#MPC > div#PlayPause.play:active {
    background-position: -374px -94px;
}

div#MPC > div#PlayPause.pause:active {
    background-position: -436px -94px;
}

div#MPC > div#PlayPause.play:disabled {
    background-position: -374px -141px;
}

div#MPC > div#PlayPause.pause:disabled {
    background-position: -436px -141px;
}

/* AutoPlay buttons */
div#MPC div.AutoPlay {
    width: 56px;
    height: 40px;
    margin: 7px 0 0 13px;
}

div#MPC div.AutoPlay.Cycle {
    background-position: -318px -0;
}

div#MPC div.AutoPlay.Next {
    background-position: -318px -40px;
}

/*-- Default Buttons */
div#MPC > div#PrevVideo {
    background-position: -206px 0;
}

div#MPC > div#PrevShot {
    background-position: -94px 0;
}

div#MPC > div#NextVideo {
    background-position: -262px 0;
}

div#MPC > div#NextShot {
    background-position: -150px 0;
}

/* -- Hover Buttons */
div#MPC > div#PrevVideo:hover {
    background-position: -206px -40px;
}

div#MPC > div#PrevShot:hover {
    background-position: -94px -40px;
}

div#MPC > div#NextShot:hover {
    background-position: -150px -40px;
}

div#MPC > div#NextVideo:hover {
    background-position: -262px -40px;
}

/* -- Pushed Buttons */
div#MPC > div#PrevVideo:active {
    background-position: -206px -80px;
}

div#MPC > div#PrevShot:active {
    background-position: -94px -80px;
}

div#MPC > div#NextShot:active {
    background-position: -150px -80px;
}

div#MPC > div#NextVideo:active {
    background-position: -262px -80px;
}

/* -- Not Active Buttons */
div#MPC > div#PrevVideo:disabled {
    background-position: -206px -120px;
}

div#MPC > div#PrevShot:disabled,
div#MPC > div#PrevShot.disabled {
    cursor: default;

    background-position: -94px -120px;
}

div#MPC > div#NextShot:disabled,
div#MPC > div#NextShot.disabled {
    cursor: default;

    background-position: -150px -120px;
}

div#MPC > div#NextVideo:disabled {
    background-position: -262px -120px;
}
