::-webkit-input-placeholder {
    padding-left: 23px;

    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}

::-moz-placeholder {
    padding-left: 23px;

    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}

/* Firefox 19+ */
:-moz-placeholder {
    padding-left: 23px;

    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}

/* Firefox 18- */
:-ms-input-placeholder {
    padding-left: 23px;

    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}
