main#addVideo {
    /*height:100vh;*/
}

main#addVideo > section {
    display: -webkit-box; /*old prefixed for webkit*/
    display:    -moz-box; /*old prefixed for mozilla*/
    display: -ms-flexbox; /*inbetween prefixed for ie*/
    display: -webkit-flex; /*new prefixed for webkit*/
    display:         flex; /*new*/
            flex-direction: column;

    height: 100%;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
            justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
            align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

main#addVideo > section > div.Input_Form {
    /*border: 1px #ffabac dashed;*/
    /*height: auto;*/
    /*margin-top: -10%;*/
}

main#addVideo > section > div#ghost {
    /*border: 1px #d2ffa5 dashed;*/
    /*height: 5%;*/
}

div.AddCanvas {
    width: 1400px;
    margin: 5vh auto 0;

    color: #666;
    border: 0 red dashed;
}

div.AddCanvas table {
    width: 100%;
    /*border: 1px red dashed;*/
}

div.AddCanvas table tr td {
    /*border:1px yellow dashed;*/
}

div.TagOffer span {
    margin: 2px;
    padding: 3px 7px;

    border: 1px solid #4b4a43;
    border-radius: 5px;

    font-size: 14px;
    line-height: 220%;
}

div.TagOffer span:hover {
    color: #ffe6a3;
    border: 1px solid #ffe6a3;
    background: #4b4a43;
}
