/* ------ Desktop Top Panel ------ */

div.TopPanelBox {
    position: fixed;
    z-index: 5;

    width: 100%;
    min-width: 900px;
    height: 91px;

    border: 0 coral dashed;
}

div.TopPanel {
    display: block;

    width: 100%;
    height: 64px;

    background: #181818;
}

div.TopPanelBorder {
    height: 35px;

    border: 0 red dashed;
    background: url(../img/top-panel-border.png) repeat-x;
}

div.TopPanelMargin {
    display: block;

    width: 100%;
    height: 69px;
    margin: 0 0 20px 0;

    border: 0 #ff0 dashed;
}

div.tpLogo {
    position: relative;
    top: 12px;

    float: left;

    width: 112px;
    height: 41px;
    margin: 0 0 0 20px;

    transition: background-image .2s ease-in-out;

    background: url(../img/logo.png) no-repeat;
}

div.tpLogo:hover {
    background-image: url(../img/logo_hover.png);
}

div.tpLogo a {
    display: block;

    width: 112px;
    height: 41px;

    text-decoration: none;

    background: url(../img/logo_hover.png) no-repeat -999px;
}

div.TopPanel > div.database_selector {
    display: block;
    float: left;

    width: 40px;
    height: 40px;
    margin: 15px 0 0 23px;

    background: url(../img/ui_top_panel.png) -392px 0 no-repeat;
}

div.TopPanel > div.database_selector:hover {
    /*cursor: pointer;*/
    cursor: text;

    background: url(../img/ui_top_panel.png) -392px -40px no-repeat;
}

/* Search block */

div.tpSearch {
    position: relative;
    top: 15px;

    display: block;
    float: left;

    width: auto;
    margin: 0 0 0 22px;

    border: 0 red dashed;
}

div.tpSearch_filters {
    position: relative;
    top: 2px;

    display: block;
    float: left;

    width: 400px;
    margin: 0 0 0 15px;

    border: 1px #181818 solid;
}

div.hideBeforeInit {
    display: none;
}

div.tpSearch input.tpSearch_field {
    display: none;
}

div.tpSearch ul.tpSearch_field {
    display: block;
    float: left;

    box-sizing: border-box;
    width: auto;
    min-width: 50px;
    height: 40px;
    margin: 0 2px 0 0;
    padding: 5px;

    resize: none;

    opacity: .9;
    color: #cacaca;
    border: 0 solid #353535;
    background: #27292a;

    font-size: 14px;
    line-height: 1;
}

.tagit-autocomplete.ui-widget-content {
    z-index: 50 !important;

    border: 1px solid #2c2c2c !important;
}



div.tpSearch input.tpSearch_Bt {
    float: left;

    width: 40px;
    height: 40px;

    border: 0;
    background: url(../img/ui_top_panel.png) no-repeat -240px 0;
}

div.tpSearch input.tpSearch_Bt:hover {
    cursor: pointer;

    background: url(../img/ui_top_panel.png) no-repeat -240px -40px;
}

/*div.tpSearch input.tpSearch_Bt:active {cursor: pointer; background: url(../img/ui_top_panel.png) no-repeat 0 -80px; }*/

div.TopPanel div.filters_icon_title_line {
    position: absolute;

    float: left;

    width: 129px;
    height: 10px;
    margin: 0 0 0 15px;

    background: url(../img/ui_top_panel.png) no-repeat -82px -164px;
}

div.TopPanel div.filters_icon_title_line:hover {
    cursor: text;

    background: url(../img/ui_top_panel.png) no-repeat -82px -173px;
    /*cursor: help;*/
}

div.TopPanel div.filters_icon_left,
div.TopPanel div.filters_icon_right {
    float: left;

    width: 8px;
    height: 49px;
    margin: 8px 7px 0 0;

    background: url(../img/ui_top_panel.png) no-repeat -286px -64px;
}

div.TopPanel div.filters_icon_right {
    margin: 8px 0 0 0;

    background-position: -295px -64px;
}

div.TopPanel div.styledCheckbox {
    margin-top: 12px;
}

/*-- Infoline Section --*/
div.infoline {
    display: block;
    float: left;

    width: 350px;
    margin: 15px 5px 0 5px;

    color: #666;

    font-size: 11px;
}

/* if screen size gets wider than 900  test */
@media screen and (max-width: 1670px) {
    div.infoline {
        /*display:block;*/
        display: none;
    }
}

/*-- Right Hand Buttons --*/

div.TopPanel > div.help,
div.TopPanel > div.goToBoard {
    position: relative;

    display: block;
    float: right;
}

div.TopPanel > div.help {
    top: 19px;

    width: 30px;
    height: 31px;
    margin: 0 15px 0 0;

    background: url(../img/ui_top_panel.png) -280px 0 no-repeat;
}

div.TopPanel > div.help:hover {
    cursor: pointer;

    background: url(../img/ui_top_panel.png) -280px -31px no-repeat;
}

div.TopPanel > div.goToBoard {
    top: 13px;

    width: 42px;
    height: 42px;
    margin: 0 20px 0 0;

    background: url(../img/ui_top_panel.png) -310px 0 no-repeat;
}

div.TopPanel > div.goToBoard:hover {
    cursor: pointer;

    background: url(../img/ui_top_panel.png) -310px -42px no-repeat;
}

/*
div.TopPanel > div.goToBoard:active {
    cursor: pointer;
    background: url(../img/ui_top_panel.png) -696px -84px no-repeat;
}
*/

/*
div.add_bt { width:40px; height:40px; display:block; float:right; top:11px; position:relative;  margin:0 20px 10px 8px;}
*/
